

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link href="style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">

        <section>
            <div class="navbar">

                <div id="logo-greeting">
                  <object class="logo-img" type="image/svg+xml" data="habittracker.svg"></object>
                </div>
                
    
                <!-- Dropdown nav menu -->
                
                  <a class = "oswald" href="#">progress</a>
                  <a class = "oswald" href="#">donate</a>
                  <a class = "oswald" href="#">settings</a>
                
              

                </div>
              
        </section>

        <div style="display: flex; justify-content: center; padding-top: 40px;">

        <h1 class="Y0AcX fredericka-the-great-regular">Welcome to Habit.io</h1>

    </div>

<!-- Grid Box Magic -->
<div   style="display: flex; justify-content: center;  padding-top: 100px;">
        <div class="grid-container" >

            <div class="grid-item">
                <h2 > Habit Tracker </h2>
            </div>

            <div class="grid-item">
                <h2> Add a Habit </h2>  
            </div>


        </div>

    </div>





    
    
</body>
</html>